<div class="container">
    <h1>Prueba tecnica</h1>
    <img src="https://www.coordinadora.com/aplicaciones/logo.png">
    <p>Prueba tecnica para Coordinadora realizada por Nicolás Atará López</p>

    <div class="buttons">
        <button mat-button routerLink="/Cow">Vacas</button>
        <button mat-button routerLink="/Piedra" >Piedra papel o tijera</button>
        <button mat-button routerLink="/Ahorcado">Ahorcado</button>
        <button mat-button (click)="openDialog()">Puntiaciones altas</button>
    </div>
</div>